.container {
    max-width: 600px;
    margin: 0 auto;
}

.table {
    font-family: sans-serif;
}

.table-header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    padding-top: 10px;
    background: white;
    box-shadow: 0 2px 6px -4px #969696;
}

.header-top {
    display: flex;
    align-items: center;
    padding: 15px;
}

.random-area {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.poteitial-games {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
}

.random-game-button {
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    background: #32cde6;
    color: white;
    text-transform: lowercase;
}

.random-game-button:disabled {
    background: #d5ddde;
    color: #f3f3f3;
}

.tip {
    font-size: 7px;
    font-style: italic;
    font-weight: 700;
    color: #66b0da;
    padding: 5px;
    border-radius: 5px;
    background: #edf5f5;
}

.players-filter-input {
    align-self: flex-end;
    width: 37%;
    padding: 4px;
    margin-left: auto;
}

.headings {
    display: flex;
    font-weight: 700;
}

.name {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.td,
.th {
    padding: 15px;
}

.th:active {
    background: #efefef;
}

.th-small {
    width: 50px;
    display: flex;
    justify-content: center;
}

.th.name {
    justify-content: flex-start;
    align-items: baseline;
}

.left {
    text-align: left;
}

.centred {
    text-align: center;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-tr {
    display: flex;
    font-size: 14px;
}

.game-tr:nth-child(odd) {
    background: #f0f0f0;    
}

.game-tr-choosen {
    display: flex;
    align-items: center;
}

.game-tr-label {
    display: flex;
    flex: 1 1 0;
}

.no-matches {
    text-align: center;
    padding-top: 50px;
}

.arrow-icon {
    width: 11px;
    height: 11px;
    margin-left: 5px;
    padding-top: 1px;
}

.arrow-up {
    transform: rotate(-180deg);
    transform-origin: 50% 76%;
}

.selected {
    color: #31a4e6;
    outline: none;
}

.selected-game.game-tr {
    color: #089cf3;
}

.choosen-for-random {
    color: #2f6ece;
}

.choosen-games-count {
    width: 20px;
}

.game-counter {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #fb2020;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    position: absolute;
    top: -7px;
    right: -10px;
}

.menu-area {
    display: flex;
    position: relative;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: #1e2b2bb0;
}

.message-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px 4%;
    background: white;
    color: #656565;
    text-align: center;
    max-width: 80%;
    min-width: 50%;
    border-radius: 10px;
}

.message-area-choosen {
    display: block;
    max-height: 80vh;
    overflow: auto;
    padding: 0;
}

.static-message {
    font-size: 8px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.recommended-game {
    font-weight: bold;
    font-size: 30px;
}

.close-button {
    position: absolute;
    right: 17px;
    top: 17px;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.close-button-item {
    color: gray;
    position: static;
    margin-right: 15px;
    font-size: 15px;
}