.container {
    max-width: 600px;
    margin: 0 auto;
}

.table {
    font-family: sans-serif;
}

.table-header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    padding-top: 10px;
    background: white;
    box-shadow: 0 2px 6px -4px #969696;
}

.players-filter-input {
    align-self: flex-end;
    width: 37%;
    padding: 4px;
}

.headings {
    display: flex;
    font-weight: 700;
}

.name {
    flex: 1 1 0;
}

.td,
.th {
    padding: 15px;
}

.th:active {
    background: #efefef;
}

.th-small {
    width: 50px;
    display: flex;
    justify-content: center;
}

.left {
    text-align: left;
}

.centred {
    text-align: center;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-tr {
    display: flex;
}

.game-tr:nth-child(odd) {
    background: #f0f0f0;    
}

.game-tr:nth-child(even) {
}

.no-matches {
    text-align: center;
    padding-top: 50px;
}

.arrow-icon {
    width: 11px;
    height: 11px;
    margin-left: 5px;
    padding-top: 1px;
}

.arrow-up {
    transform: rotate(-180deg);
    transform-origin: 50% 76%;
}

.selected {
    color: #31a4e6;
    outline: none;
}