<div class="container">
  <div class="table">

    <div class="table-header">
      <div class="header-top">
        <span *ngIf="!chooseForRandom"
              class="tip">Двойной клик по игре для поиска в Google</span>
        <input type="text"
               #playersInput="ngModel"
               [(ngModel)]="form.amount"
               class="players-filter-input"
               placeholder="Кол-во игроков">
      </div>
      <div class="random-area">
        <div *ngIf="!chooseForRandom; then totalRandom else fromChoosen"></div>
        <ng-template #totalRandom>
          <button (click)="getRandom(choosenGames)"
                  class="random-game-button">
            <span>Случайная игра</span>
          </button>
        </ng-template>
        <ng-template #fromChoosen>
          <button (click)="getRandom(choosenGames)"
                  [disabled]="!choosenGames.length"
                  class="random-game-button">
            <span>Случайная из выборки</span>
          </button>
        </ng-template>
        <label class="poteitial-games">
          <span>Возможные игры</span>
          <input type="checkbox"
                 (click)="selectedGame = null"
                 #chooseGamesForRandom="ngModel"
                 [(ngModel)]="chooseForRandom">
        </label>
        <div *ngIf="chooseForRandom && choosenGames.length"
             class="menu-area">
          <mat-icon svgIcon='menu'
                    (click)="showChoosenList = true"
                    class="choosen-games-count"></mat-icon>
          <div class="game-counter">
            <span>{{choosenGames.length}}</span>
          </div>
        </div>
      </div>
      <div class="headings">
        <div (click)="toSortName(name)"
             #name
             [class.selected]="name === selectedHeading"
             class="th left name">
          <span>Название</span>
          <mat-icon svgIcon='arrow'
                    *ngIf="name === selectedHeading"
                    [class.arrow-up]="isAscending.name"
                    class="arrow-icon"></mat-icon>
        </div>
        <div (click)="toSortPlayersMin(min)"
             #min
             [class.selected]="min === selectedHeading"
             class="th th-small">
          <span>min</span>
          <mat-icon svgIcon='arrow'
                    *ngIf="min === selectedHeading"
                    [class.arrow-up]="isAscending.min"
                    class="arrow-icon"></mat-icon>
        </div>
        <div (click)="toSortPlayersMax(max)"
             #max
             [class.selected]="max === selectedHeading"
             class="th th-small">
          <span>max</span>
          <mat-icon svgIcon='arrow'
                    *ngIf="max === selectedHeading"
                    [class.arrow-up]="isAscending.max"
                    class="arrow-icon"></mat-icon>
        </div>
      </div>
    </div>
    <div *ngFor="let game of gamesToShow"
         (click)="onCLick(game)"
         (dblclick)="onDoubleClick(game)"
         [class.selected-game]="selectedGame === game"
         [class.choosen-for-random]="choosenGames.indexOf(game.name) !== -1"
         class="game-tr">
      <label class="game-tr-label">
        <div class="td name">
          <span>{{game.name}}</span>
          <input *ngIf="chooseForRandom"
                 type="checkbox"
                 [(ngModel)]="checkboxSelections[game.name]"
                 (click)="onCheck(game)">
        </div>
        <div class="td centred">{{game.players.min}}</div>
        <div class="td centred">{{game.players.max || '-'}}</div>
      </label>
    </div>
    <div *ngIf="!gamesToShow.length"
         class="no-matches">
      <span>Совпадений нет</span>
    </div>
  </div>
</div>

<div *ngIf="showModal"
     (click)="showModal = false"
     class="modal">
  <div class="message-area">
    <span class="static-message">Зарубитесь в</span>
    <span class="recommended-game">{{recommendedGame}}</span>
  </div>
</div>

<div *ngIf="showChoosenList"
     class="modal">
  <button (click)="showChoosenList = false"
          class="close-button">x</button>
  <div class="message-area message-area-choosen">
    <div *ngFor="let game of choosenGames"
         class="game-tr game-tr-choosen">
      <div class="td name">{{game}}</div>
      <button (click)="removeGame(game)"
              class="close-button close-button-item">X</button>
    </div>
  </div>
</div>
