<div class="container">
  <div class="table">
    <div class="table-header">
      <input type="text" #playersInput="ngModel" [(ngModel)]="form.amount" class="players-filter-input"
        placeholder="Кол-во игроков">
      <div class="headings">
        <div (click)="toSortName()" class="th left name">Название</div>
        <div (click)="toSortPlayersMin()" class="th centred">min</div>
        <div (click)="toSortPlayersMax()" class="th centred">max</div>
      </div>
    </div>
    <div *ngFor="let game of gamesToShow" class="game-tr">
      <div class="td name">{{game.name}}</div>
      <div class="td centred">{{game.players.min}}</div>
      <div class="td centred">{{game.players.max || '-'}}</div>
    </div>
    <div *ngIf="!gamesToShow.length" class="no-matches">
      <span>Совпадений нет</span>
    </div>
  </div>

  <!-- <input type="text" name="players" [(ngModel)]="form.amount"> people
  <button (click)="onSubmit()">filter</button> -->
</div>